/* button */

.btn_default {
    width: 100px;
    height: 30px;
}

.img_default{
    width: 250px;
    height: 300px;
}

.wd_full{
    width: 100%;
}

.st_7 {
    font-weight: bold;
    font-size: x-large;
    width: 7%;
}

.st_10 {
    font-weight: bold;
    font-size: x-large;
    width: 10%;
}

.sm_default {
    font-size: small;
    padding-top: 12px;
}

.sm_ml_10{
    font-size: small;
    padding-top: 12px;
    margin-left: 10px;
}

.tbl_default {
    font-size: large;
    margin: 25px 0 25px 0;
    width: 1000px;
    text-align: center;
    border: 1px solid lightgray;
}

.tbl_h_2 {
    font-size: large;
    margin: 25px 0 25px 0;
    width: 1000px;
    height: 200px;
    text-align: center;
    border: 1px solid lightgray;
}

.tbl_tr_m_10{
    margin: 10px;
}

.paging li{
    list-style: none;
    display: inline;
    margin: 10px;
    font-size: large;
}

.paging .active{
    font-weight: bold;
}

textarea{
    resize: none;
}