/*memberReviewDetail*/
.reviewDetail_content .reviewDetail_title{
    text-align: center;
    display: flex;
    font-size: xx-large;
    border: solid black;
    border-width: 0 0 4px 0;
}

.reviewDetail_content .reviewDetail_reviewContent{
    height: 100%;
    border: 1px solid lightgray;
    margin-top: 52px;
}

.reviewDetail_btn{
    text-align: center;
}

.reviewDetail_btn button{
    width: 100px;
    height: 30px;
    margin: 20px;
}

.reviewDetail_content div{
    width: 100%;
}

.review_title {
    width: 743px;
}

/*memberReviewList*/
.memberReviewList_header button{
    float: right;
}

.tbl_review_a{
    display: inline-flex;
    width: 100%;
}

.tbl_productName{
    width: 100%;
    text-align: center;
    margin: 16% 7% 0 0;
}

.tbl_firstThumbnail img{
    width: 250px;
    height: 300px;
}

/*memberReviewModify*/
.review_content{
    font-size: large;
}

.review_content .reviewForm_area{
    margin-bottom: 25px;
}

.review_content_content {
    margin-top: 52px;
}

.review_content .review_content_productName{
    margin-bottom: 20px;
    font-size: xx-large;
    text-align: center;
    border: solid black;
    border-width: 0 0 4px 0;
}

.review_content_content textarea{
    width: 745px;
    height: 600px;
    border: 1px solid lightgray;
}

.review_content button{
    float: right;
    width: 100px;
    height: 30px;
}