.container div, td{
    text-align: center;
}

.content div{
    display: grid;
}

.memberOrderList{
    margin: 0 25% 0 25%;
}

.memberOrderList table{
    width: 100%;
    border: 1px solid lightgray;
}

.memberOrderList label{
    text-align: justify;
    font-size: larger;
    font-weight: bold;
}

.memberOrderList span{
    font-size: large;
    text-align: end;
    font-weight: bold;
}

.memberOrderList table p {
    font-weight: bold;
    font-size: larger;
    width: 40%;
}

.tbl_firstThumbnail img{
    width: 250px;
    height: 300px;
    margin-left: 25%;
}

/*orderInfoCheck*/
.orderInfoCheck div{
    display: block;
}

.tbl_productName {
    margin: 6% 0 2% 0;
}

.container div{
    text-align: center;
}

.orderInfoCheck_header{
    margin-top: 15%;
}

.orderInfoCheck_content div{
    margin: 30px;
}

.orderInfoCheck_content label{
    font-weight: bold;
}