/*modifyCheck*/
.modifyCheck_content .check{
    margin: 25px 0 25px 20px;
    width: 800px;
}

.modifyCheck_header h3{
    padding: 20px;
}

.modifyCheck_content input{
    width: 200px;
    height: 30px;
}

.modifyCheck_content button{
    margin-left: 65px;
    margin-top: 10px;
    width: 100px;
    height: 25px;
}

/*modifyInfo*/
.modifyInfo_content{
    font-size: large;
    font-weight: bold;
}

.modifyInfo_content .modifyInfo_userInfo{
    margin: 25px 0 25px 20px;
    width: 800px;
}

.modifyInfo_content input{
    width: 270px;
    height: 30px;
}

.modifyInfo_content button{
    text-align: center;
    width: 100px;
    height: 30px;
    margin-left: 10%;
}

.modifyInfo_userInfo form{
    margin: 10px;
}

.modifyInfo_userInfo form div{
    padding-top: 10px;
}