<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.shop.mapper.MemberMapper">

    <select id="userInfo" resultType="org.shop.domain.MemberVO">
        SELECT * FROM member WHERE userId = #{userId}
    </select>

</mapper>